<div id="<%= dom_id plan %>">
  <p>
    <strong>Name:</strong>
    <%= plan.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= plan.code %>
  </p>

  <p>
    <strong>Price cents:</strong>
    <%= plan.price_cents %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= plan.currency %>
  </p>

  <p>
    <strong>Monthly interview limit:</strong>
    <%= plan. monthly_interview_limit %>
  </p>

  <p>
    <strong>Monthly minutes limit:</strong>
    <%= plan.monthly_minutes_limit %>
  </p>

  <p>
    <strong>Priority support:</strong>
    <%= plan. priority_support %>
  </p>

  <p>
    <strong>Custom domain:</strong>
    <%= plan.custom_domain %>
  </p>

  <p>
    <strong>Features:</strong>
    <%= plan.features %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= plan.status %>
  </p>

</div>
